[Desktop Entry]
Name=Archibald Linux
Name[de]=Archibald Linux
Name[es]=Archibald Linux
Name[fr]=Archibald Linux
Name[it]=Archibald Linux
X-KDE-PluginInfo-Name=archibald
X-KDE-PluginInfo-Author=Archibald Linux Project
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Version=1.0
